#main-header {
  display: flex;
  height: 520px;
  padding-top: 120px;
  background-color: #b1eae3;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");;
}
