html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

 /* <main> container */
 .container {
  width: 90%;
  background-color: #f4f1ec;
  margin: auto
 }

 /*adjusts layout on screens over 1024px*/
 @media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  .container {
    width: 60%;
    padding-top: 220px;
  }
 }